@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");




html, body, figure, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
}

img {
   max-width: 800px;
}

a {
    text-decoration: none;
    color: #303030;
}

figcaption {
    display: none;
}

div.flex {
    display: flex;
}


div.full-container {
    width: 100%;
    margin: 0 auto;
}

div.large-container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    background-color: #00043e;
    justify-content: space-between;
}

div.large-container nav {
    height: 10px;
}



div.large-container nav ul {
   display: none;
   position: absolute;
   background-color: #FFFFFF;
   min-width: 160px;
   box-shadow: 8px 8px 16px 16px rgb(200 200 200 / 20%);
   padding: 12px;
   z-index: 1;
   top: 55px;
   right: 9px;
   line-height: 1.5;
   text-align: right;
}



div.large-container nav img {
    width: 5vh;
    filter: invert(1);
}

div.large-container nav:hover ul {
    display: block;
}

div.large-container img {
    width: 10vh;
    margin: 10px;
}

div.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

h2 {
    font-family: Montserrat, sans-serif;
}

nav {
    font-size: 13px;
}

​ html {
    font-family: Lato, sans-serif;
    width: 100%;
}



.secaoDestaque {
    display: flex;
    background-color: #00043e;
    color: white;
    font-size: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 25vh;
    max-height: 40vw;
    padding: 5vh 0 10vh;
}

.secaoDestaque h2 {
    font-size: 30px;
    text-align: center;
}

.secaoDestaqueFormulario {
    display: flex;
}

.secaoDestaqueFormulario input {
    padding: 10px;
    margin: 0;
}

.secaoDestaque button {
    background-color: #007aff;
    color: white;
    padding: 12px;
    border: none;
    margin: 0;
}

.secaoDestaque button:hover {
  background-color: #00043e;
}


.secaoSobre .flex-col {
    display: flex;
    font-size: 19px;
    line-height: 1.5em;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10vw;
}

.secaoSobre .flex-col>* {
    margin: 5vw;
}

.secaoSobre h2 {
    margin: 10vw;
    font-size: 24px;
    font-weight: 500;
}

.secaoSobre span,
.secaoSobre ul {
    color: #818181;
    font-size: 15px;
    list-style: disc;
}

.secaoSobre button {
    padding: 3vw 20vw;
    background-color: white;
    border-radius: 5px;
    border: 2px solid #818181;
}



.secaoSobre .flex-col:nth-last-child(1),
.secaoSobre .flex-col:nth-last-child(2) {
   background-color: #FFFFFF;
   padding: 0;
   width: 70%;
   margin: auto;
}



.secaoSobre .flex-col:nth-last-child(1)>*,
.secaoSobre .flex-col:nth-last-child(2)>* {
    padding: 10vw;
}



.flex-col:last-child h2 {
    text-align: center;
}

.flex-col:last-child ul {
   text-align: start;
}

.flex-col img {
    height: 50vw;
}



 
.secaoCursos {
    display: flex
}

.secaoCursos h2 {
    margin: 10px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 19px;
    height: 40px;
    color: #303030;
}

.secaoCursos h3 {
    font-size: 19px;
    color: #303030;
}

.secaoCursos p {
    font-size: 15px;
    color: #818181;
}

#subTitulo {
    margin: 5px;
    margin-bottom: 40px;
    font-size: 15px;
    margin-bottom: 76px;
    color: #818181;
}

.secaoCursos article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px auto;
}

.coursesList {
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: center;
}

.coursesList h3 {
    margin: 13px;
    font-size: 19px;
    font-weight: 100;
}

.coursesList img {
    width: 110px;
    max-height: 160px;
    margin-top: 24px;
}

.coursesList p {
    margin-top: 40px;
    line-height: 1.7;
    font-size: 15px;
}

.secaoCalendar {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
}

.secaoCalendar h2 {
    margin-top: 150px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 19px;
    height: 40px;
    color: #303030;
}

#scheduleSubTitle {
    display: flex;
    width: 150px;
    text-align: center;
    font-size: 15px;
    color: #303030;
    line-height: 1.4;
    margin-bottom: 65px;
}

.calendario {
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;
    justify-content: center;
}

.calendario li {
    margin-bottom: 150px;
    border: 1px solid #00043e;
    border-radius: 8px 8px 0 0;
}

.calendario-data {
    background-color: #00043e;
    margin: auto;
    display: flex;
    justify-content: center;
    height: 80px;
    align-content: center;
    font-size: 36px;
    color: #FFFFFF;
    padding-top: 40px;
    border-radius: 5px 5px 0 0;
}

.calendario h3 {
    margin: 30px auto;
    font-size: 19px;
}

.calendario p {
    color: #818181;
    line-height: 1.8;
    font-size: 15px;
    padding: 0 17px;
    border-bottom: 2px solid #FFFFFF;
}

.calendario-data-rodape {
    display: flex;
    flex-direction: column;
    margin: 25px;
    align-items: center;
}

.calendario-data-rodape span {
    font-size: 36px;
    color: #818181;
    margin-bottom: 25px;
}

.calendario-data-rodape button {
    color: #ffffff;
    border: 2px solid #007aff;
    background-color: #007aff;
    border-radius: 5px;
    font-size: 19px;
    width: -webkit-fill-available;
    max-width: 75%;
    
}

.secaoContato {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #FFFFFF;
}

div.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    font-size: 15px;
    width: 55%;
    margin: auto;
    color: #818181;
}

div.flex p {
    line-height: 25px;
}

.secaoContato-informacoes ul li {
    margin: 7px;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.secaoContato-informacoes ul li a {
    text-decoration: none;
    color: #818181;
    padding-left: 7px;
}

.secaoContato-informacoes ul li img {
    max-width: 22px;
    max-height: 25px;
}

.secaoContato-informacoes ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.secaoContato-informacoes ul li a:hover {
    color: #303030;
}

.secaoContato .flex-col h2 {
    position: relative;
    bottom: 200px;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    color: #303030;
    padding-left: 10px;
}

.form-input-model label {
    display: none;
}

.form-input-model input,
textarea {
    width: 100%;
    margin: 10px 0;
    padding: 5px;
}

.form-input-model textarea {
    height: 80px;
}

.flex-col input {
    float: right;
    padding: 8px;
}

#bottomSubmit {
    padding: 6px;
    background-color: #ffffff;
    border: 1px solid #818181;
    border-radius: 12%;
}

footer p {
    text-align: center;
    margin: 40px auto;
    color: #818181;
}

footer a {
    text-decoration: none;
    color: #007aff;
}

footer a:hover {
  color: #00043e;
}

@media only screen and (min-width: 900px) {

    div.large-container {
        align-items: center;
    }

    div.large-container img {
       margin: 40px;
    }

    div.large-container nav ul {
       display: block;
       background-color: #00043e;
       box-shadow: none;
       top: 65px;
    }

    div.large-container nav img {
        display: none;
    }

    div.large-container nav ul li {
        display: inline-flex;
        align-content: space-between;
    }

    div.large-container nav ul li a {
        letter-spacing: 0.25em;
        color: white;
        font-weight: 300;
        font-family: Lato;
        margin: auto 1vw;
        font-size: 13px;
    }

    .secaoDestaque {
        background-image: url(../img/background-destaque.webp);
        background-size: cover;
        height: 80vh;
        justify-content: center;
    }

    .secaoDestaque>* {
        margin: 1vw;
    }

    .secaoDestaque h2 {
        font-size: 64px;
    }

    .secaoDestaque p {
        font-size: 21px;
    }

    .secaoDestaque button {
        font-size: 14px;
    }

    .secaoDestaqueFormulario input {
        width: 400px;
    }
    



    .secaoSobre h2 {
        text-align: left;
    }

    .secaoSobre .flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .secaoSobre .flex-col {
        width: 50%;
        padding: 0 5vw;
        height: 80vh;
        align-items: flex-start;
    }

    .secaoSobre .flex-col>* {
        margin: 0 2vw;
    }



    .secaoSobre .flex-col:nth-last-child(1),
    .secaoSobre .flex-col:nth-last-child(2) {
        justify-content: center;
        margin: 0;
        width: fit-content;
    }



    .secaoSobre .flex-col:nth-last-child(1)>*,
    .secaoSobre .flex-col:nth-last-child(2)>* {
        padding: 2vw;
    }



    .secaoSobre button {
        padding: 1vw 3vw;
        background-color: white;
        border-radius: 5px;
        border: 2px solid #818181;
    }

    .flex-col figure {
        align-self: center;
    }

    .flex-col img {
        height: 20vw;
    }



    .secaoCursos {
       display: flex;
       margin: auto;
       max-width: 100%;
    }

    .secaoCursos article {
       display: flex;
       flex-direction: column;
       align-items: center;
       margin: 15px auto;
       width: 100%;
    }

    .coursesList {
       display: grid;
       align-items: baseline;
       justify-content: space-around;
       width: 100%;
       grid-template-columns: repeat(3, 1fr);      
       grid-row-gap: 5%;
    }

    .calendario {
        display: flex;
        flex-direction: row;
    }

    .calendario li {
        margin: 15px;
        width: 35%;
    }

    div.flex {
        display: flex;
        width: 70%;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .secaoContato .flex-col h2 {
        position: initial;
        text-align: left;
        padding-bottom: 15px;
    }

    div.flex-col {
        width: 60%;
    }

    .form-input-model  {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .form-input-model--input-inline {
       display: inline-block;
       width: 47.5%;
    }

    #rightInput {
        float: right;
    }

    .form-input-model textarea {
       width: 100%;
    }
}